

<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="onReturn()">
      <ion-icon  name="arrow-back-outline" style="color: #000">
      </ion-icon>
    </ion-button>
    <ion-title>{{name.nombrei}}</ion-title>
  </ion-toolbar>
</ion-header>
   
<ion-content>  
  <ion-card>  
    <ion-card-header>  
     <h4>Estado: nomal</h4>  
    </ion-card-header>  
          
   <ng-container *ngFor="let mensaje of room">
    
      <ng-container *ngIf="mensaje.docid === name.docid;  ">
      <ion-item >
        {{mensaje.tipo}} : {{mensaje.input}}
 
      </ion-item>
    </ng-container>
    

           
   
  </ng-container> 
  </ion-card>  
 </ion-content>  
